

body {
	background-color: black;
	color: #5ee619;
	text-align: center;
}

#mainGrid {
	display: grid;
	justify-content: center;
	grid-gap: 60px 40px;
}

#websiteHeader {
	border: 1px solid #5ee619;
	padding: 10px 0px;
	width: 150px;
	margin: 0px auto;
	margin-top: 20px;
}

img {
	max-width: 200px;
}

#footer {
	margin: 40px 0px 10px 0px;
	width: 300px;
	display: inline-flex;
	justify-content: space-around;
	font-size: 12px;
	padding: 10px 10px;
}